<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conexao" connectionString="Server=DESKTOP-4M05DPG\SQLEXPRESS;Database=Teste;User Id=sa;Password=Manager1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>   
</configuration>